=render 'shared/error_msg', object: @comment
.col-md-12.text-center
  .well
    =form_for [@post, @comment] do |f|
      .form-group
        =f.label :body, "Leave a Comment"
        =f.text_area :body, class: 'form-control'

      =f.submit "Comment", class: 'btn btn-primary cmt'

