-show_post ||= false
-if comment.valid?
  .row.vertical
    =render 'shared/vote', obj: comment, url: vote_post_comment_path(comment.post, comment)
    .col-md-11
      .well
        %p
          =comment.body
          -if show_post
            &raquo;
            =link_to comment.post.title, post_path(comment.post)
        =render 'shared/user_link', obj: comment



    
