-show_post ||= false
-if comment.valid?
  .container
    .col-md-8
      .well
        %p
          =comment.body
          -if show_post
            &raquo;
            =link_to comment.post.title, post_path(comment.post)
        =render 'shared/user_link', obj: comment



    
