-if @comment.save
  $('#com').prepend("#{escape_javascript(render @comment)}")
  $('#com .row:first-child .vote').css('border-left', '4px solid #398581')
  $("#comment_body").val('')
  -if @comment.post.comments.first == @comment
    $("#first").removeClass('hide')
    $('#none').addClass('hide')
-else
  $("#cmt_form").replaceWith("#{escape_javascript(render 'comments/comment_form')}")