=render 'shared/error_msg', object: @user if @user.errors.any?
.container.form.new
  .well#signup
    %h4 Register
    =form_for @user, authenticity_token: true do |f|
      .form-group
        =f.label :name
        =f.text_field :name, class: 'form-control'

      .form-group
        =f.label :password
        =f.password_field :password, class: 'form-control'

      -if @user.new_record?
        .form-group
          =f.label :password_confirmation
          =f.password_field :password_confirmation, class: 'form-control'

      .form-group
        =f.label :phone, "Phone Number<small>(numbers only)</small>".html_safe
        %i.glyphicon.glyphicon-question-sign
          %p.dark_well We will use this to keep your account and info secure.
        =f.telephone_field :phone, min: 10, maxlength: 10, class: 'form-control'

      .form-group
        =f.label :time_zone
        %br
        =f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones

      =f.submit @user.new_record? ? "Create account" : "Update profile", class: 'btn btn-success'


