-if object.errors.any?
  .container#error_message
    .col-md-12.text-center
      .alert.alert-danger
        %h5
          =precede "The form contains " do
            =pluralize(object.errors.count, "error")
        %ul
          -object.errors.full_messages.each do |msg|
            %li= msg