.container.text-center
  -if @post.errors.any?
    .alert.alert-danger
      %h5 Please check the form
      %ul
        -@post.errors.full_messages.each do |msg|
          %li= msg

  .col-md-12
    .well
      =form_for @post do |f|
        =f.label :title
        =f.text_field :title, class: 'form-control'

        =f.label :url
        =f.text_field :url, class: 'form-control'

        =f.label :description
        =f.text_area :description, class: 'form-control', rows: 6

        =f.submit "Submit", class: "btn btn-primary btn-lg"

