.row.vertical
  =render 'shared/vote', obj: post, url: vote_post_path(post)
  .col-md-11
    .well.well-sm
      =render post.categories
      %h4
        =link_to(fix_url(post.url)) do
          =post.title
          %i.glyphicon.glyphicon-new-window
      %h5= post.description
      %p
        =render 'shared/user_link', obj: post

      =link_to pluralize("#{post.comments.size}", "comment"), post_path(post)

      -if logged_in? and post.creator == current_user || current_user.admin?
        =link_to " | Edit Post", edit_post_path(post)
