.row
  .col-md-8
    .well
      =render post.categories
      %h4
        =link_to(fix_url(post.url)) do
          =post.title
          %i.glyphicon.glyphicon-new-window
      %h5= post.description
      %p
        %small.quiet
          =link_to(user_path(post.creator)) do
            =surround "#{post.creator.name} | Posted ", " ago" do
              =display_time(post.created_at)
          %br
          =link_to pluralize("#{post.comments.size}", "comment"), post_path(post)
          
          -if post.creator == current_user
            =link_to " | Edit Post", edit_post_path(post)