.row
  .col-md-8
    .well
      =render post.categories
      %h4
        =link_to(fix_url(post.url)) do
          =post.title
          %i.glyphicon.glyphicon-new-window
      %h5= post.description
      %p
        =render 'shared/user_link', obj: post
        
      =link_to pluralize("#{post.comments.size}", "comment"), post_path(post)
      
      -if post.creator == current_user
        =link_to " | Edit Post", edit_post_path(post)