=render 'shared/content_title', title: "Posts"

-@posts.each do |post|
  .row
    .col-md-8
      .well
        =render post.categories
        %h4= post.title
        %h5= post.description
        %p
          / %span.quiet posted by:
          / =post.creator.name.capitalize
          %small
            =surround " | Posted ", " ago" do
              =time_ago_in_words(post.created_at)
            %br
            =link_to "#{post.comments.size} comments", post_path(post)
            =link_to " | Edit Post", edit_post_path(post)
