%h3 Create new post

-if @post.errors.any?
  .alert.alert-danger
    %h5 There were some errors:
    %ul
      -@post.errors.full_messages.each do |msg|
        %li= msg

=form_for @post do |f|
  =f.label :title
  %br
  =f.text_field :title
  %br

  =f.label :url
  %br
  =f.text_field :url

  %br
  =f.submit "Create", class: "btn btn-primary"
