.col-md-12
  .well
    =render @post.categories
    =render 'shared/content_title', title: @post.title
    %p= @post.description

-if logged_in?
  =render 'comments/comment_form'

.container
  %h4.text-center Comments
  .col-md-8.col-md-offset-2
    =render @post.comments



