-provide(:title, @post.title)
.col-md-12
  .well
    =render @post.categories
    =render 'shared/content_title', title: @post.title
    %p= @post.description

-if logged_in?
  =render 'comments/comment_form'

%h4.text-center Comments
=render @post.comments



