.col-md-12
  .well
    =render @post.categories
    =render 'shared/content_title', title:"<a href='#{fix_url(@post.url)}'>#{@post.title} <i class='glyphicon glyphicon-new-window'></i></a>".html_safe
    %p= @post.description
    .pull-right
      -if @post.creator == current_user
        =link_to "Edit post", edit_post_path(@post)

-if logged_in?
  =render 'comments/comment_form'

.container
  %h4.text-center Comments
  .col-md-8.col-md-offset-2
    =render @post.comments





