@import "bootstrap-sprockets";
@import "bootstrap";
@import "nav";

hr {
 border: none;
 height: .16em;
 background: rgba(96,137,180,.25);
}

.quiet {
  color: #ababab;
}

.form-control {
 width: 75%;
 max-width: 75%;
 margin: auto;
}

.btn-lg {
 margin-top: .6em;
 width: 30%;
}

.cmt {
  margin-top: .6em;
}

.field_with_errors {
 @extend .has-error;
   .form-control {
     color: $state-danger-text;
   }
}

#error_message {
 li {
   list-style: none;
 }
}