.container.text-center
  =render 'shared/content_title', title: 'Create category'
  =render 'shared/error_msg', object: @category
  .col-md-6.col-md-offset-3
    .well
      =form_for @category do |f|

        .form-group
          =f.label :name
          =f.text_field :name, class: 'form-control'

        =f.submit "Create", class: 'btn btn-success'